.header {
    font-size: 24px;
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-logo {
    margin-left: 128px;
}
.header-links {
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-size: 16px;
    align-items: center;
    margin-right: 128px;
}

.hero {
    color: #F9FAF8;
    background-color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.hero .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 450px;
}

.hero .content .title {
    font-size: 48px;
    font-weight: extra-bold;
    padding: 8px;
}

.hero .content .subtext {
    font-size: 18px;
    color: #E5E7EB;
    padding: 8px;
}

.sign-up {
    width: 100px;
    background-color: blue;
    color:#E5E7EB;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

.hero .image {
    background: grey;
    width: 450px;
    height: 300px;
    text-align: center;
    line-height: 300px;
}